/* cabeçalho */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* ocupa a tela toda */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(1, 1, 51);
    color: rgb(255, 255, 255);
    border: solid black;
}

h1::before {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
}

li {
    color: white;
    display: flex;
    align-items: flex-end;
}

.header .container {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}


/* roda-pé */


.footer {
    margin-top: auto;
    border: solid black;
    background-color: rgb(1, 1, 51);
    color: rgb(255, 255, 255);
    padding: 10px;
    
    justify-content: center;
    display: flex;
}



/* Cadastro e Login*/
.login {
   display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    
    /* imagem */
    background-image: url("fundo_site.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
}

.login .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    border: 3px solid black;
    border-radius: 5px;
    padding: 8px;

    background-color: rgba(255, 255, 255, 0.27);

    margin-top: 50px;
    margin-bottom: 50px;
}



input {
    text-align: center;
    padding: 6px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 14px;
    margin-bottom: 8px;
}

input:focus {
    border-color: #0033ff;
    outline: none;
    box-shadow: 0 0 5px rgb(57, 31, 255);
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    width: 100%;

    margin-bottom: 10px;
}

.campo span {
    width: 180px;
    font-weight: bold;
}

.botao {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;

    background: linear-gradient(to right, black, rgb(4, 4, 102));
    color: white;

    /* tamanho da letra */
    font-size: 16px;

    cursor: pointer;
    transition: 0.3s;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.botao:active {
    transform: scale(0.97);
}



/* index */

.banner {
    margin: 10px;
    font-size: 30px;
    /* negrito */
    font-weight: bold;
}

.banner .container p span {
    color: rgb(59, 0, 169);
}

.social {
    margin: 10px;
}

h4 {
    text-align: center;
    font-size: 20px;
    /* negrito */
    font-weight: bold;
}

p::first-letter{
    font-weight: bold;
    font-size: 24px;
}

.boxes {
    display: flex;
    justify-content: space-around;
}

.box {
    border: 3px solid rgb(23, 0, 86);
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(212, 213, 234);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 390px;
    flex-direction: column;
    align-items: center;
}

.topo {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
}

img {
    width: 50px;
    height: auto;
}




/* simulador */

.simulador {
    margin: 10px;
}

h2{
    text-align: center;
    font-size: 30px;
    /* negrito */
    font-weight: bold;
}

.container {
    margin: 10px;
}

.simulador .container p {
    border: 3px solid rgb(23, 0, 86);
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(212, 213, 234);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 280px;
}

.texto {
    display: flex;
    justify-content: space-around;
}